{% macro render_attachments(attachments, path) -%}
    {% for attachment in attachments %}
        <img src="{{'static/' + attachment['source']}}" style="WIDTH:auto; HEIGHT:350px"/>
    {% endfor %}
{%- endmacro %}